
<nav class="nav">
    <!-- <div class="logo">
        <img src="../assets/a.jpg">
        </div> -->
    <h1>Online Food Delivery System </h1>
   <!-- <div class="nav-search">
        <input type="text" placeholder="Search Here">
        <button style="cursor: pointer;">Search</button>
    </div>
    -->
    <div>
        <ul>

            <li><a routerLink="home">Home</a></li>
           <!--<li><a routerLink="ab">About Us</a></li>--> 
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="signUp">SignUp</a></li>
          
        </ul>
    </div>
</nav>
