<div>


<form [formGroup]="foodRef" (ngSubmit)="findByFid()" id="viewfood1">
    <label>Id</label>
    <input type="number" formControlName="pid">
    <input type="submit" value="search by FId" class="btn btn-info"/>

</form>
<form [formGroup]="foodRef" (ngSubmit)="findByName()" id="viewfood2">
    <label>Name</label>
    <input type="text" formControlName="pname">
    <input type="submit" value="search by name" class="btn btn-info"/>
    
    </form>
    <input type="button" value="view all items"  class="btn btn-success"(click)="findAllFood()"/> 
</div>
<div *ngIf="flag1" >
    <span *ngFor="let f1 of foods1" >
    
    
    <img src={{f1.url}} width="150px" height="150px"/><br/>
    <b><label style="font-style: italic;">Food Name : </label>
        <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;">{{f1.name}} </span><br/>
        <label>Price :</label>
            <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;"> Rs.{{f1.price}}</span> <br/>
            <label>Offer :</label>
           <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;"> {{f1.offer}} %</span><br/> 
          
          <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;">  {{f1.description}}</span> <br/>
        </b>
    <!-- <input type="button" value="Add to cart"/> -->
    <app-razorpay></app-razorpay><br/>
    </span>
    </div>




<div *ngIf="flag3">
<span *ngFor="let f2 of foods2">

    
    <img src={{f2.url}} width="150px" height="150px"/>
   
    <br/>
    <b><label style="font-style: italic;">Food Name : </label>
        <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;">{{f2.name}} </span><br/>
        <label>Price :</label>
            <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;"> Rs.{{f2.price}}</span> <br/>
            <label>Offer :</label>
           <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;"> {{f2.offer}} %</span><br/> 
          
          <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;">  {{f2.description}}</span> <br/>
        </b>
    
    <app-razorpay></app-razorpay>
</span>
</div>
<div *ngIf="flag2">

    <span *ngFor="let f of foods" >
    
    
    <img src={{f.url}} width="150px" height="150px"/><br/>
    <b><label style="font-style: italic;">Food Name : </label>
        <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;">{{f.name}} </span><br/>
        <label>Price :</label>
            <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;"> Rs.{{f.price}}</span> <br/>
            <label>Offer :</label>
           <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;"> {{f.offer}} %</span><br/> 
          
          <span style="color: blue; font-family: 'Times New Roman', Times, serif; font-style: italic;">  {{f.description}}</span> <br/>
        </b>
    <app-razorpay></app-razorpay><br/>
    </span>
    </div>

