
.box
{
    width: 100%;
    
}

.box img
{
    
    width: 1200px;
    height: 500px;
    max-width: 1000px;
    display: block;
    margin: auto;
    padding-top: 50px;
    background-size: cover;

}